.modal{
  background: rgba(55, 62, 79, .7);

  .delete-visit {

    //.modal-content{
    //  padding-top: 40px;
    //  padding-bottom: 40px;
    //}
    //.modal-body{
    //  text-align: center;
    //  margin: 0 auto 40px;
    //}
    //
    //.modal-body-title{
    //  font: 16px/18px 'pt_sansregular';
    //  color: #292929;
    //  margin-bottom: 10px;
    //}
    //
    //.modal-body-desc{
    //  font: 16px/18px 'pt_sansregular';
    //  color: #A4A7AB;
    //  margin: 0;
    //}

    .modal-btn{
      //background: #fff;
      //background: linear-gradient(90deg, #3AD0DA -2.5%, #51E5DC 144.78%);
      //box-shadow: 0 2px 5px rgba(30, 209, 209, 0.18);
      text-align: center;
      padding: 11px 0;
      width: 120px;
      border-radius: 25px;
      font: 16px/18px 'pt_sansregular';
      color: #A4A7AB;
      margin-right: 20px;

      &:last-child{
        margin-right: 0;
      }

      &:hover, &.active{
        color: #fff;
        //background: linear-gradient(90deg, #3AD0DA -2.5%, #51E5DC 144.78%);
        //box-shadow: 0 2px 5px rgba(30, 209, 209, 0.18);
      }
    }
  }

  .modal-footer{
    justify-content: center;
    border-top: none;
  }

  .modal-personal-edit{
    &.modal-dialog{
      max-width: 670px;
    }
    .modal-title{
      font: 16px/18px 'pt_sansregular';
      color: #292929;
    }
    .modal-content{
      padding-bottom: 24px;
    }

    .modal-body{
      padding: 20px 20px 4px;

      .modal-block-item{
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;
      }

      .modal-block-two{
        .modal-block-item{
          flex-basis: 50%;

          &:nth-child(even){
            padding-left: 20px;
          }
        }
      }

      .modal-block-title{
        font: 14px/18px 'pt_sansregular', san-serif;
        color: #A4A7AB;
        margin-bottom: 5px;
        padding: 0;
      }

      .modal-right-title{
        font: 16px/20px 'pt_sansregular', san-serif;
        color: #C2C7CF;
        margin-left: 10px;
        padding: 0;
      }

      .modal-item-left{
        max-width: 578px;
        width: 100%;
        margin-right: 20px;
      }

      .modal-item-right{
        justify-content: flex-start;
        margin-bottom: 4px;

        .modal-add, .modal-remove{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: #FAFAFA;
          box-shadow: none;
          //box-shadow: 0px 2px 5px rgba(30, 209, 209, 0.18);
          border-radius: 50%;
          color: #BDC4CE;
          font-size: 25px;
          cursor: pointer;
          outline: none;
        }
      }

      .modal-block-wrap{
        padding-top: 20px;

        &:first-child{
          padding-top: 0;
        }
      }

      .modal-input-wrap{
        max-width: 578px;
        width: 100%;

        .modal-input{
          width: 100%;
          font: 16px/18px 'pt_sansregular', san-serif;
          color: #292929;
          padding: 10px;
          display: block;
          border: 1px solid #E8EDF3;
          box-sizing: border-box;
          border-radius: 2px;
          outline: none;
          transition: border-color 0.3s;

          &:focus{
            border-color: $grey;
            //transition: 0.3s;
          }
        }
      }

      .modal-comment{
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #E6EAED;
      }

      &.without-add{
        padding-right: 20px;

        .modal-item-left, .modal-input-wrap{
          max-width: 100%;
        }
      }

      .btn-add-info{
        width: 32px;
        height: 32px;
        background: #FAFAFA url("../img/icons/arrow-collapse.svg") no-repeat center;
        background-size: 10px 5px;
        border-radius: 50%;
        outline: none;
        border: none;
        margin-right: 10px;
        transform: rotate(180deg);

        &.active{
          transform: rotate(0);
        }

      }
      .toggle-add-info{
        cursor: pointer;
        border-bottom: 1px dotted #E6EAED;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
      }

      .modal-additional-info-hidden{
        display: none;
      }

      //.modal-immun-scroll{
      //  height: calc(100vh - 60px);
      //  overflow-y: auto;
      //}
    }

    .close{
      border-radius: 50%;
      border: 1px solid #E6EAED;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      font-weight: 300;
    }

    .modal-btn{
      width: 160px;
      text-align: center;
      color: #fff;
      padding: 11px 0;
    }
  }

  .modal-btn-rt{
    max-width: 160px;
    width: 100%;
    position: absolute;
    top: 0;
    right: -200px;

    a, button{
      background-color: #FFFFFF;
      opacity: 1;
    }

    a:hover{
      opacity: .75;
    }
  }
}