<div class="modal fade" id="delete-visit" tabindex="-1" role="dialog" aria-labelledby="deleteVisitModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered delete-visit" role="document">
        <div class="modal-content">
<!--            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>-->
            <div class="modal-body">
                Ви дійсно бажаєте видалити цей прийом?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-confirm modal-btn">Так</button>
                <button type="button" class="btn-close modal-btn" data-dismiss="modal">Відміна</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="personal-info" tabindex="-1" role="dialog" aria-labelledby="personalInfoModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-personal-edit" role="document">
        <div class="modal-content">
            <div class="modal-header grey-bg display-flex">
                <h5 class="modal-title" id="personalInfoCenterTitle">Редагувати персональну інформацію</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ви дійсно бажаєте видалити цей прийом?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-confirm modal-btn btn-blue" data-dismiss="modal">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alegro" tabindex="-1" role="dialog" aria-labelledby="alegroModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-personal-edit" role="document">
        <div class="modal-content">
            <div class="modal-header grey-bg display-flex">
                <h5 class="modal-title" id="alegroCenterTitle">Редагувати алергоанамнез</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ви дійсно бажаєте видалити цей прийом?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-confirm modal-btn btn-blue" data-dismiss="modal">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vaccination" tabindex="-1" role="dialog" aria-labelledby="vaccinationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-personal-edit" role="document">
        <div class="modal-content">
            <div class="modal-header grey-bg display-flex">
                <h5 class="modal-title" id="vaccinationCenterTitle">Редагувати вакцинальний статус</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ви дійсно бажаєте видалити цей прийом?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-confirm modal-btn btn-blue" data-dismiss="modal">Зберегти</button>
            </div>
        </div>
    </div>
</div>