<section class="reception">
    <div class="patient-wrap display-flex">
        <span class="patient-name">Мартиненко Валентина Петрівна</span>
        <div class="patient-btn-time display-flex">
            <span class="patient-time">
                13.45
            </span>
            <a href="#" class="patient-print"></a>
            <a href="#" class="btn-n btn-orange btn-write">Попередній перегляд</a>
            <a href="#" class="btn-n btn-blue btn-write">Закінчити прийом</a>
        </div>
    </div>
</section>